# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# IDE or text editor specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Compiled Python files
*.pyc

# Log files
*.log

# Environment variables file
.env
